.card {
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    width: 350px;
    height: auto;
    border-radius: 20px;
}

.example-full-width {
    width: 100%;
    border-radius: 20px;
}

.example-button {
    justify-content: right;
    margin-right: 10px;
}
