<mat-card style="max-width:1200px; width: 700px; ">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="U">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Descripcion Column -->
        <ng-container matColumnDef="F">
            <th mat-header-cell *matHeaderCellDef> Foto </th>
            <td mat-cell *matCellDef="let element">{{element.foto}} </td>
        </ng-container>

        <ng-container matColumnDef="N/M">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Example icon-button with a heart icon" routerLink="/ma/{{element.codigo}}">
            <mat-icon >edit</mat-icon>
          </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="E">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="Eliminar(element.codigo)">
              <mat-icon color="warn">delete</mat-icon>
        </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20,30,40,50]" showFirstLastButtons>
    </mat-paginator>
    <button mat-raised-button class="btnnuevo" color="primary" routerLink="/ma/0/">Nuevo Usuario</button>
</mat-card>
