    mat-card {
        border-radius: 20px;
        margin: 20px;
    }

    table {
        width: 100%;
        align-items: center;
        margin: 0px;
        overflow: hidden !important;
        border-radius: 20px;
    }

    .btnnuevo {
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 2px;
        width: auto;
        border-radius: 20px;
    }

    mat-form-field {
        width: 100%;
    }

    mat-paginator {
        border-radius: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
        border-bottom: 1px;
        border-bottom-color: black;
        margin-left: 0px;
        margin-right: 0px;
    }

    th {
        font-weight: 900;
        color: #212121;
    }
